<span id="editor">
    <header>
        <div class="menu">
            <div class="left">
                <a class="btn" href="#/">
                    <i class="foundicon-left-arrow"></i>
                </a>
            </div>

            <h1>Title</h1>

            <div class="right">
                <a class="btn">
                    <i class="foundicon-trash"></i>
                </a>
            </div>
        </div>
    </header>

    <section class="scroll">
        <textarea class="content" />
    </section>
</span>
