<span id="list">
    <header>
        <div class="menu">
            <div class="left">
                <a class="btn">
                    <i class="foundicon-settings"></i>
                </a>
            </div>

            <div class="search">
                <span class="clearable">
                    <input type="text" placeholder="Search..." />
                    <i class="remove foundicon-remove"></i>
                </span>
            </div>

            <div class="right">
                <a class="btn">
                    <i class="foundicon-plus"></i>
                </a>
            </div>
        </div>
    </header>

    <section class="scroll">
        <div class="wrapper">
            <ul class="list">
                <li class="palette gray">
                    <div class="top">
                        <h2 class="title">Title</h2>
                        <span class="subtext">Summary</span>
                    </div>

                    <div class="bottom highlight">
                        <div class="tags left">
                            <span class="tag">#tag</span>
                        </div>

                        <span class="timestamp">0000-00-00</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</span>